@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

*{
	margin: 0;
	padding: 0;
	font-family: "Alegreya", serif;
}

.hero{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:aquamarine;
	color: text-warning;
}

.form-container{
	padding: 3%;
	background-color: white;
	border-radius: 20px;
	text-align: center;
}
@media(max-width: 700){
	.form-container *{
		padding: 5%;
	}
}

.form-container span {
    color: red;
    display: none;
}

form *{
	margin-top: 3%;
}

form div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#result-container{
	padding: 3%;
	background-color: white;
	border-radius: 20px;
	text-align: center;
    display: none;
}

#result-container h6 {
    color: rgb(102, 148, 150);
}
